<div style="text-align: center">
  <h1 > Corona Virus Cases by Country</h1>
</div>


<div class="table-responsive-sm" style="cursor: pointer;">
  <table class="table table-sm">
    <thead>
      <tr >
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover1=true" (mouseleave)="hover1=false" [ngStyle]="{backgroundColor: hover1==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountryName()">
          Country <br> 
          <fa-icon [icon]="faArrowUp"  ></fa-icon> 
          <fa-icon [icon]="faArrowDown" ></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover2=true" (mouseleave)="hover2=false" [ngStyle]="{backgroundColor: hover2==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrynewCases()">
          New Cases <br> 
          <fa-icon [icon]="faArrowUp"  ></fa-icon> 
          <fa-icon [icon]="faArrowDown" ></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover3=true" (mouseleave)="hover3=false" [ngStyle]="{backgroundColor: hover3==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrytotalCases()">
          Total Cases <br> 
          <fa-icon [icon]="faArrowUp" ></fa-icon> 
          <fa-icon [icon]="faArrowDown"></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover4=true" (mouseleave)="hover4=false" [ngStyle]="{backgroundColor: hover4==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrynewRecoveries()">
          New Recoveries <br> 
          <fa-icon [icon]="faArrowUp"></fa-icon> 
          <fa-icon [icon]="faArrowDown"></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover5=true" (mouseleave)="hover5=false" [ngStyle]="{backgroundColor: hover5==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrytotalRecoveries()">
          Total Recoveries <br> 
          <fa-icon [icon]="faArrowUp"></fa-icon> 
          <fa-icon [icon]="faArrowDown"></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover6=true" (mouseleave)="hover6=false" [ngStyle]="{backgroundColor: hover6==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrynewDeaths()">
          New Deaths <br> 
          <fa-icon [icon]="faArrowUp"></fa-icon> 
          <fa-icon [icon]="faArrowDown"></fa-icon> 
        </th>
        <th scope="col" sortable="name" style="text-align: center" (mouseover)="hover7=true" (mouseleave)="hover7=false" [ngStyle]="{backgroundColor: hover7==true  ? 'lightgrey' : 'transparent' }" (click)="sortbyCountrytotalDeaths()">
          Total Deaths <br> 
          <fa-icon [icon]="faArrowUp"></fa-icon> 
          <fa-icon [icon]="faArrowDown"></fa-icon> 
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <!-- <th scope="row">{{ country.id }}</th> -->
        <td class="table-active" >
          <!-- TODO: 此处将country.name改称country.Slug -->
          <a class="nav-link" routerLink="/countries/{{country.slug}}">{{ country.name }}</a>
        </td>

        <td class="table-warning">
          {{ country.newCases}}
        </td>

        <td class="table-warning">
          {{ country.totalCases | number }}
        </td>

        <td class="table-primary">
          {{ country.newRecoveries | number }}
        </td>

        <td class="table-primary">
          {{ country.totalRecoveries | number }}
        </td>

        <td class="table-danger">
          {{ country.newDeaths | number }}
        </td>

        <td class="table-danger">
          {{ country.totalDeaths | number }}
        </td>

      </tr>
    </tbody>
  </table>
</div>