<div style="text-align: center;">
    <h2>Global News Board</h2>
</div>

<div *ngFor="let one_news of news">
    <div style="text-align:left;">
        <font size="4" class="text-primary">User: {{one_news.userName}}, Region: {{one_news.country}}</font>
        <span style="float:right; font-size: 100%;">
            <!-- {{one_news.date.toDate()}} -->
            {{one_news.date.toDate() | date:'mediumDate'}}
        </span>
        
    </div>
    <p>
        Description: {{one_news.description}}
    </p>
</div>




